.TourSeened {
  background-color: white;
  width: 32%;
  margin: 8px 6px;
}

.colorTitle {
  color: #003c71;
  font-weight: 650;
}

.TourSeened {
  background-color: white;
  max-width: 31%;
  margin: 8px 13px;
}
