.formSearch {
  width: 755px;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
}

.input {
  height: 60px;
  width: 100%;
  font-size: 15px;

  &input::placeholder {
    font-size: 16px;
    font-weight: 700;
    
  }
}

.fw_700 {
  font-weight: 700;
}

.btnSearch {
  font-weight: 700;
  color: white;
  background-color: #f79321;
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #dba05c !important;
    color: white !important;
  }
}

.DatePicker {
  min-width: 280px;
}

.inputSearchPrice { 
  width: 280px;
  padding: 14px; 
}
