.wrapper {
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  width: 370px;
  margin-bottom: 10px;
  padding: 5px;

  .content {
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.title {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  color: black;
}
