.wrapper {
}

.card {
  border: 1px solid red;
  width: 370px;
  margin-bottom: 10px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
