.frame {
  min-height: 80vh;
  position: relative;
}

.IconUserSquare {
  width: 80px;
  height: 80px;
  color: blue;
}

.icon {
  position: absolute;
  top: -30px;
  left: 30px;
}

.magin-100 {
  margin-top: 60px;
}
