* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textResidual {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.poiter {
  cursor: pointer;
}
 
.iconBack {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: gainsboro;
  }
}
