.wrapper {
  padding: 20px;
}

.listCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cardMessage {
    border: 1px solid black;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
  }

  .circle {
    border: 1px solid red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.formMessage {
  width: 750px;
  min-height: 600px;

  .list {
    display: flex;
    flex-direction: column;
  }

  .chat_message {
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
    word-break: break-all;
    max-width: 49%;

    .time {
      color: grey;
      font-size: 12px;
      margin-top: 10px;
    }
  }

  .sent {
    background-color: #dcf8c6; /* Màu nền tin nhắn gửi */
    align-self: flex-end; /* Đẩy tin nhắn gửi sang phải */
  }

  .received {
    background-color: #f2f2f2; /* Màu nền tin nhắn nhận */
    align-self: flex-start; /* Đẩy tin nhắn nhận sang trái */
  }
}

.mt_80 {
  margin-top: 100px; 
}

.TextArea {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 50%;
  padding-bottom: 20px;
  background-color: white;
}
