.blogID {
  .title {
    font-weight: 650;
    font-size: 22px;
    margin: 10px 0;
  }
  .desCom {
    color: grey;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 15px;
  }
}

.cardBlog {
  .title {
    padding: 2px 8px;
    background-color: rgb(243, 243, 243);
    font-weight: 500;
  }
  .titleCard {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .date {
    color: grey;
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
  }
}

// ========== comment ================
.comment {
  // border: 1px solid #ddd;
  // background-color: #f9f9f9;
  margin: 20px 0;
  padding: 5px;
  border-radius: 5px;

  .imageName {
    border: 1px solid red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 20px;
  }

  .content {
    margin-left: 70px;
    margin-top: 10px;
  }
}

.replies {
  margin-left: 30px;
}
