.wrapper {
}

.listMessage {
}

.frame {
}

.vh_80 {
  height: 92vh;
}

.listCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .cardMessage {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 7px 0;
  }

  .circle {
    border: 1px solid red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.formMessage {
  width: 750px;
  min-height: 600px;

  .headerContact {
    border-bottom: 2px solid black;
    padding: 5px 0;
  }

  .list {
  }

  .chat_message {
    margin: 10px;
    border-radius: 5px;
    max-width: 89%;

    .content {
      padding: 5px 15px;
    }

    .time {
      color: grey;
      font-size: 12px;
    }
  }

  .sent {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 5px 25px;
    background-color: #dcf8c6;
    min-width: 70px;
    word-break: break-all;
  }

  .received {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 5px 25px;
    background-color: white;
    min-width: 70px;
    word-break: break-all;
  }
}

.frame_TextArea {
  display: flex;
  align-items: center;
  background-color: white;
  width: 750px;
  margin-top: 5px;
}

.ScrollStyle {
  height: 540px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}
