.ss1 {
  //   border: 1px solid black;
  h2 {
    color: #003c71;
  }
}

.ss2 {
  //   border: 1px solid black;
  .nameTour {
    color: rgb(5, 97, 66);
    font-size: 23px;
    font-weight: 610;
  }
}

.ss3 {
  //   border: 1px solid black;
}

.ss4 {
  //   border: 1px solid black;
  .price {
    font-size: 20px;
    font-weight: 600;
  }

  .money {
    font-size: 20px;
    color: #ffbd00;
  }
}
