a {
  text-decoration: none;
}

.custoTaga {
  text-decoration: none;
  color: black;
}

.bg_color_26bed6 {
  background-color: #26bed6;
}

.color_26bed6 {
  color: #26bed6;
}

.gbcolor_003c71 {
  background-color: #003c71 !important;
}

.mr_40 {
  margin-right: 150px;
}

.fs_10 {
  font-size: 13px;
}

.poiter {
  cursor: pointer;
}

.textLogin {
  font-size: 16px;
  font-weight: 600;
}

.iconMessage {
  color: rgb(91, 91, 91);
  a {
    color: rgb(91, 91, 91);
  }
  &:hover {
    transform: scale(1.1);
    color: rgb(20, 20, 20);
  }
}
