.wrapper {
  background-color: #ecf0f5;
}

.bg-f6f8fa {
  background-color: #f6f8fa;
}

.colorTitle {
  color: #003c71;
  font-weight: 650;
}

.colorPrice {
  color: #00c1de;
  font-weight: 530;
  font-size: 17px;
}

// SECTION

.listTourSeened {
}

.listTour {
}
