.card {
  border: 1px solid rgb(210, 210, 213);
  width: 275px;
  height: 100px;
  display: flex;
  border-radius: 10px;

  .item1 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    color: #9a9a9a;
    .item2-1 {
      display: flex;
      align-items: center;
    }
    .item2-2 {
      color: #666666;
      font-size: 24px;
      font-weight: 500;
    }
  }
}

.bg_background_4c5caf {
  background-color: #4c5caf;
}
.bg_background_4caf50 {
  background-color: #4caf50;
}
.bg_background_167ee6 {
  background-color: #167ee6;
}
.bg_background_da0c4d {
  background-color: #da0c4d;
}
