.frame {
    min-height: 80vh;
    position: relative;
    margin: 50px 0px;
}

.IconUserSquare {
    width: 80px;
    height: 80px;
    color: blue;
    
}

.icon {
    position: absolute;
    top: -30px;
    left: 30px;
}

.magin-100 {
     margin-top: 100px;
}