.wrapper {
  background-color: #ecf0f5;
}

.mr_3 {
  margin-right: 20px;
}

.xanhBlueMo {
  color: #26bed6;
}

.color_f79321 {
  color: #f79321;
}

.color_f79321 {
  color: #003c71;
}

.mr_20 {
  margin-right: 20px;
}

.nameTour {
  color: #003c71;
  font-weight: 650;
  font-size: 35px;
  margin: 15px 0;
}

.imageTour {
  width: 100%;
  height: 400px;
  text-align: center;
  object-fit: cover;
}

.poiter {
  cursor: pointer;
}

.fw_600 {
  font-weight: 900px;
}

.IconPrice {
  font-size: 30px;
}

.color_green {
  color: greenyellow;
}

.fse_20 {
  font-size: 19px;
}

// PROCESSTOUR
.desProcessTour {
  padding: 20px 20px;

  img {
    width: 100%;
    border-radius: 5px;
  }

  h5 {
    text-align: center;
    font-size: 15px;
  }

  h4 {
    font-size: 20px;
  }

  h3 {
    font-size: 25px;
  }
}

// CALENDAR
.calendar {
  width: 380px;
  margin-left: 40px;
}

.calendar .infoCalendar {
  position: sticky;
  top: 0;

  .calendarCard {
    padding: 13px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #003c71;
    margin-bottom: 10px;
  }

  .date {
    border: 2px solid rgba(97, 96, 96, 0.281);
    cursor: pointer;
  }

  .date.active {
    border: 2px solid #26bed6;
  }

  .btnYeuCau {
    border: 2px solid #f79321;
    background-color: #f79321;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 550;
    padding: 8px 15px;
    min-width: 147px;
    cursor: pointer;

    &:hover {
      background-color: #f9ab52;
    }
  }

  .btnYeuCau:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .btnLienHe {
    border: 2px solid #f79321;
    color: #f79321;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 550;
    padding: 8px 15px;
    min-width: 147px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #f79321;
      color: white;
    }
  }
}
