.session1 {
  .titleCount {
    font-size: 15px;
    color: red;
  }
}

.sesion2 {
  .btnBookingTour {
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 40px;
    border-radius: 5px;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



