.session1 {
  .contentCount {
    font-size: 16px;
  }

  .name {
    font-size: 18px;
    font-weight: 500;
  }
 
  .totalMoney {
    color: #f79321;
    font-size: 22px;
    display: flex;
    .item:nth-child(2) {
      margin: 0 10px;
    }
  }
}

.sesion2 {
  .btnBookingTour {
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 40px;
    border-radius: 5px;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.color_003c71 {
  color: #003c71;
}

.ffbd00 {
  color: #ffbd00;
}
