.fse-sm {
  font-size: 14px;
}

.color_616161 {
  color: #616161;
}

.listAddress {
  display: grid;
  grid-template-columns: auto auto;
  color: #00abc5;
}

.textHandle {
  white-space: nowrap;
  overflow: hidden;
  max-width: 170px;
  text-overflow: ellipsis;
}

.price {
  color: #00c1de;
  margin-top: 5px;
  font-size: 26;
  font-weight: 550;
}

.nameTour {
  color: #003c71;
  font-size: 19px;
  font-weight: 550;
  margin-bottom: 20px;
}

.textItem {
  color: #003c71;
  font-size: 15px;
}
